altair
asgiref
astor
attrs
backcall
base58
bleach
blinker
cachetools
certifi
chardet
click
cmake
colorama
cycler
decorator
defusedxml
Django
dlib
docutils
entrypoints
enum-compat
face-recognition
face-recognition-models
future
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
httplib2
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pathtools
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
pycodestyle
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
pywinpty
PyYAML
pyzmq
requests
rsa
s3transfer
Send2Trash
six
soupsieve
sqlparse
terminado
testpath
toml
toolz
torch
torchvision
tornado
traitlets
tzlocal
uritemplate
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
